.TextField {
   position: relative;
   flex: 1;
}

.icon {
    position: absolute;
    top: 0px;
    bottom: 0px;
    align-items: center;
    display: flex;
    padding-inline-start: 8px;
    pointer-events: none;
}

.TextField input {
    display: block;
    width: 100%;
    padding: 12px;
    font-size: 14px;
    color: #333333;
    border: none;
    outline: none;
    box-sizing: border-box;
    border-radius: 12px;
    padding-inline-start: 36px;
  }


