.footer {
    height: 2.5rem;
    width: 100%;
    border-top: 1px solid #e3e3e3;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
}

.footer p {
    font-size: 12px;
}